@import '../../../config/utils';

.ContentLayout {
  padding: 1rem 2rem;
  background-color: white;

  &__header,
  &__footer {
    padding: 1rem 0;
  }

  &__header {
    border-bottom: 1px solid $grayLight;
  }

  &__footer {
    @include flexContainer(center, space-between);
    border-top: 1px solid $grayLight;
  }
}